
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    all: unset;
}

input{
    all: unset;
}

body{
    background-color: #edede4;
    
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tag-line{
    display: flex;
   margin-top: 10px;
}

.tag-text{
    margin: 5px;
    color: #f3f3f3;
    font-family: "poppins";
    font-weight: 20;
    z-index: 10;
}

#app-name{
    color: white;
    margin-left: 20px;
}

h3{
    color: white;
    font-family: "montserrat";
    font-weight: 5;
    font-size: 1.2rem;
}

h1{
    color: #efefee;
    font-family: "Mukta";
    font-weight: 20;
    z-index: 10;
}

header{
    /* background-color: #79a507; */
    padding: 5px;
    background: linear-gradient(90deg, #79a507, #3a6802);
}

.search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: url('/assets/images/chopping board.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
}

.search-container::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

#welcome-note{
    margin-top: 30px;
    margin-bottom: 30px;
}

form{
    display: flex;
    position:relative;
}

/* form::before{
    content: "";
    height: 48px;
    width: 360px;
    background: #4b5946;
    position: absolute;
    top: -5px;
    left: -10px;
    z-index: -1;
    border-radius: 40px;
} */

.search-button{
    background-color: #4c9d36;
    border-radius: 0 20px 20px 0;
    padding: 5px;
    cursor: pointer;
}

.searchBox{
    border: solid 2px #4c9d36;
    border-radius: 20px 0 0 20px;
    width: 300px;
    z-index: 100;
    position: relative;
}

#search-icon{
    color: #edede4;
}

#search-icon:hover{
    color: #ddff02;
}

.searchBox::placeholder{
    text-align: center;
    color: rgb(170, 169, 166);
}

input{
    color: #ededed;
    text-align: center;
}

/* //====================================// */

.recipe-container{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    width: 80%;
    justify-items: center;
    width: 100vw;
    margin-top: 20px;
    position: relative;
}

.recipe{
    background-color: rgb(248, 247, 244);
    display: flex;
    border-radius: 10px;
    align-items: center;
    width: 500px;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: relative;
}

.img-container{
    height: 150px;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
    width: 50p;
}
.img-container:hover img{
    transform: scale(1.2);
}

img{
    border-radius: 10px 0 0 10px;
    height: 100%;
    object-fit: cover;
    transition: transform 0.9s ease ;
}

.img-container::before{
    content: "";
    position: absolute;
    inset: 0;
    width: 150px;
    background: rgba(36, 65, 1, 0.3);
    mix-blend-mode: soft-light;
}




.recipe-details{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 350px;
    justify-content: center;
}

#meal-name{
    text-align: center;
    font-size: 1.15rem;
    font-family:"Merriweather";
    color: #516d0a;
}

#meal-detaisl{
    text-align: center;
    font-size: .8rem;
    font-family: "Poppins";
    color: #6b675c;
}

.recipe button{
    background-color: rgb(219, 217, 110);
    position: absolute;
    text-align: center;
    right: 26%;
    top: 70%;
    width: 80px;
    padding: 3px;
    border-radius: 10px;
    color: rgb(103, 96, 68);
    transition: transform 0.3s ease;
}

.recipe button:hover{
    transform: scale(1.1);
    color: #c89300;
}

