*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    all: unset;
}

input{
    all: unset;
}

body{
    background-color: #EFE3C2;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tag-line{
    display: flex;
    margin-right: 30px;
}

.tag-text{
    margin: 5px;
    color: white;
}

h3{
    color: white;
    margin-left: 20px;
}

h1{
    color: #DE802B;
}

header{
    background-color: #BBCB2E;
    background: linear-gradient(180deg, #BBCB2E, #839705);
}

.search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome-note{
    margin-top: 30px;
    margin-bottom: 30px;
}

form{
    display: flex;
}

.search-button{
    background-color: #8BAE66;
    border-radius: 0 5px 5px 0;
    padding: 5px;
    cursor: pointer;
}

.searchBox{
    border: solid 2px #8BAE66;
    border-radius: 5px 0 0 5px;
    width: 300px;
}

#search-icon{
    color: white;
}

