*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    all: unset;
}

input{
    all: unset;
}

body{
    background-color: #f0e8d1;
    
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tag-line{
    display: flex;
   margin-top: 10px;
}

.tag-text{
    margin: 5px;
    color: #DE802B;
}

#app-name{
    color: white;
    margin-left: 20px;
}

h1{
    color: #DE802B;
}

header{
    background-color: #839705;
    padding: 5px;
    /* background: linear-gradient(180deg, #BBCB2E, #839705); */
}

.search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


#welcome-note{
    margin-top: 30px;
    margin-bottom: 30px;
}

form{
    display: flex;
    position:relative;
}

form::before{
    content: "";
    height: 48px;
    width: 360px;
    background: #4b5946;
    position: absolute;
    top: -5px;
    left: -10px;
    z-index: -1;
    border-radius: 40px;
}

.search-button{
    background-color: #7b8f4e;
    border-radius: 0 20px 20px 0;
    padding: 5px;
    cursor: pointer;
}

.searchBox{
    border: solid 2px #7b8f4e;
    border-radius: 20px 0 0 20px;
    width: 300px;
    z-index: 100;
    position: relative;
}

#search-icon{
    color: #4b5946;
}

#search-icon:hover{
    color: #ddff02;
}

.searchBox::placeholder{
    text-align: center;
    color: rgb(120, 130, 97);
}

input{
    color: #EFE3C2;
    text-align: center;
}

/* //====================================// */

.recipe-container{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80%;
    justify-items: center;
    width: 100vw;
    margin-top: 20px;
}

.recipe{
    background-color: rgb(234, 234, 234);
    display: flex;
    border-radius: 10px;
    align-items: center;
    width: 500px;

}

img{
    border-radius: 10px 0 0 10px;
    height: 150px;
}

.recipe-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

