
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    all: unset;
}


/* =================HEADER============================= */
input{
    all: unset;
}

body{
    background-color: #dde3e2;
    
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tag-line{
    display: flex;
   margin-top: 10px;
}

.tag-text{
    margin: 5px;
    color: #f3f3f3;
    font-family: "poppins";
    font-weight: 180;
    z-index: 10;
}

#app-name{
    color: white;
    margin-left: 20px;
}

.boldtext{
    font-weight: 50;
}


h3{
    color: white;
    font-family: "montserrat";
    /* font-weight: 5; */
    margin-left: 20px;
    font-size: 1.2rem;
}

h1{
    color: #efefee;
    font-family: "Mukta";
    z-index: 10;
}

header{
    /* background-color: #79a507; */
    padding: 5px;
    background: linear-gradient(90deg, #79a507, #3a6802);
}

.search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: url('/assets/images/chopping board.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
}

.search-container::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

#welcome-note{
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: 150px;
}

form{
    display: flex;
    position:relative;
}


.search-button{
    background-color: #4c9d36;
    border-radius: 0 20px 20px 0;
    padding: 5px;
    cursor: pointer;
}

.searchBox{
    border: solid 2px #4c9d36;
    border-radius: 20px 0 0 20px;
    width: 300px;
    z-index: 100;
    position: relative;
}

#search-icon{
    color: #edede4;
}

#search-icon:hover{
    color: #ddff02;
}

.searchBox::placeholder{
    text-align: center;
    color: rgb(170, 169, 166);
}

input{
    color: #ededed;
    text-align: center;
}

/* //===============RECIPE CONTAINER=====================// */

.recipe-container{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    width: 80%;
    justify-items: center;
    width: 100vw;
    margin-top: 20px;
    position: relative;
}

.recipe{
    background-color: rgb(222, 223, 219);
    background: linear-gradient(295deg, #ecebe9, #ccd1c5);
    display: flex;
    align-items: center;
    width: 500px;
    height: 150px;
    clip-path: path("M 10,0 L 490,0 A 10,10, 0,0,1 500,10 L 500,110 A 10,10, 0,0,1 490,120 L 400,120 A 10,10, 0,0,0 390,130 L 390,140 A 10,10, 0,0,1 380,150 L 10,150 A 10,10, 0,0,1 0,140 L 0,10 A 10,10, 0,0,1 10,0 Z");
    position: relative;
}
.recipeShadow{
    background-color: rgb(191, 191, 191);
    inset: 0;
    top: .9%;
    left: 0.1%;
    width: 500px;
    height: 150px;
    clip-path: path("M 10,0 L 490,0 A 10,10, 0,0,1 500,10 L 500,110 A 10,10, 0,0,1 490,120 L 400,120 A 10,10, 0,0,0 390,130 L 390,140 A 10,10, 0,0,1 380,150 L 10,150 A 10,10, 0,0,1 0,140 L 0,10 A 10,10, 0,0,1 10,0 Z");
    position: absolute;
    z-index: -1;

    
}

.img-container{
    height: 150px;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
    width: 50p;
}
.img-container:hover img{
    transform: scale(1.2);
}

img{
    border-radius: 10px 0 0 10px;
    height: 100%;
    object-fit: cover;
    transition: transform 0.9s ease ;
}

.img-container::before{
    content: "";
    position: absolute;
    inset: 0;
    width: 150px;
    background: rgba(36, 65, 1, 0.3);
    mix-blend-mode: soft-light;
}

.detailsContainer{
    /* background-color: #4c9d36; */
    position: relative;
}

.recipe-details{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 350px;
    justify-content: center;
    position: relative;
}

#meal-name{
    text-align: center;
    font-size: 1.15rem;
    font-family:"Merriweather";
    color: #516d0a;
}

#meal-detaisl{
    text-align: center;
    font-size: .8rem;
    font-family: "Poppins";
    color: #6b675c;
    position: absolute;
    top: 85%;
    left: 5%;
}

.recipeButton{
    background: linear-gradient(90deg, #11b411, #078007);
    position: absolute;
    text-align: center;
    right: 0%;
    top: 83%;
    width: 100px;
    padding: 3px;
    border-radius: 10px 0px ;
    color: rgb(255, 255, 253);
    transition: transform 0.3s ease;
    font-family: "merriweather";
    font-size: .8em;
    cursor: pointer;
    /* filter: drop-shadow(0 1PX 2PX RGBA(0, 0, 0, 0.4)); */
}

.recipeButton:hover{
   color: #c0e311;
}

.prep-details{
    display: none;
}

